<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contable</title>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
  </head>
  <body>
    <header>
      <h1>Conáctanos</h1>
    </header>
    <main>
      <p>
        Si tienes alguna duda, sugerencia o comentario, no dudes en contactarnos. Puedes hacerlo a través de nuestro
        correo electrónico o nuestras redes sociales.
      </p>
      <section>
        <h2>Lista de contactos</h2>

        <div class="container">
          <ul
            id="contact-list"
            hx-get="http://localhost:3000/users"
            hx-trigger="load"
            hx-swap="innerHTML"
            hx-debug="true"
          ></ul>
        </div>
        <!--Boton para cargar contactos-->
        <button
          class="btn"
          hx-get="http://localhost:3000/users"
          hx-target="#contact-list"
          hx-trigger="click"
          hx-swap="innerHTML"
        >
          Cargar contactos
        </button>

        <!--Limpiar lista de contactos-->
        <button class="btn" onclick="document.getElementById('contact-list').innerHTML=''">Limpiar Contactos</button>
      </section>
    </main>
  </body>
</html>
