/*Estilos del contenedor del componente*/
/* .signuppage-container {
  border: 1px solid #fff;
} */

/*Estilos del componente formulario*/
#signup-form {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 10px;
}
