* {
  margin: 0;
  padding: auto;
}

.start-container {
  display: flex;
  flex-direction: column;
}

.start-header {
  display: flex;
  flex-direction: column;
  background-color: gray;
}

.start-title {
  align-self: center;
}

.start-nav {
  align-self: flex-end;
}

#content {
  display: flex;
  padding: 1rem;
}
