* {
  margin: 0;
  padding: auto;
}

/* Estilos generales */
.layout {
  display: flex;
}

.start-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
}

.start-header {
  display: flex;
  flex-direction: column;
  background-color: gray;
  width: 100%;
}

.start-title {
  align-self: center;
}

.start-nav {
  align-self: flex-end;
}

#content {
  display: flex;
  padding: 1rem;
}
