/* Sidebar */
.sidebar {
  width: 60px;
  height: 100vh;
  background: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.sidebar.expanded {
  width: 200px;
}

.sidebar-toggle {
  color: white;
  cursor: pointer;
  /* font-size: 24px; */
  margin-bottom: 10px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar-menu li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.sidebar-menu li:hover {
  background: #444;
}

.sidebar-text {
  margin-left: 10px;
  display: none;
}

.sidebar.expanded .sidebar-text {
  display: inline;
}
